fastapi
uvicorn
langchain
langchain-core
langchain-text-splitters
langchain-openai
sentence-transformers
qdrant-client
python-dotenv
pymupdf
pydantic
duckduckgo-search
ddgs
sqlalchemy
psycopg2-binary
pymysql
pymongo